*{box-sizing: border-box;
}
.container{
    width: 100%;
    height: 300px;
    border: 2px red solid;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   

}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}